<header>
    <div class="container container-dec">
      <nav class="navbar navbar-expand" style="float: left;">
        <ul class="navbar-nav">
          <li>
            <a class="navbar-brand img-brand" routerLink="home">
              <img src="assets/images/logo.png" height="60px" alt="project-logo">
            </a>
          </li>
        </ul>
      </nav>
      <nav class="navbar navbar-expand">
        <ul class="navbar-nav">
          <li><a class="nav-item nav-link nav-item-decoration" routerLink="home">Home</a></li>
          <li><a class="nav-item nav-link nav-item-decoration" routerLink="courses">Courses</a></li>
          <li><a class="nav-item nav-link nav-item-decoration" routerLink="testimonials">Testimonials</a></li>
          <li><a class="nav-item nav-link nav-item-decoration" routerLink="about-us">About Us</a></li>
          <li><a class="nav-item nav-link nav-item-decoration" routerLink="contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>