<div class="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>About Gravity</h1>
                    <p>
                        Gravity is dedicated software training institute in Pune assuring 100% job assistance 
                        through real time projects, industry experienced trainers and personal mentorship. 
                        We help boost and groom your tech skills and help you prepare for dream job. 
                        Gravity deals in different sotware testing courses like Cora Java, Selenium, Manual testing and 
                        Python. Well designed courses led by industry experienced trainers help you get glimpse of software industry beforehand. 
                        The key to our student's success is small size batches, one to one mentorship and flexible schedule. 
                        Want to make career in your dream company? come join us !
                    </p>
                </div>
                <div class="col-sm-6">
                    <h1>contact</h1>
                    <address>
                        <p>
                            <i class="fa fa-home pr-10 fa-space fa-lg"></i>
                            Echoing Greens
                            Near Hinjewadi Flyover
                            Wakad Pune -411057,
                        </p>
                        <p>
                            <i class="fa fa-map-marker pr-10 fa-space fa-lg"></i>
                            Landmark: Near Silver Sports Club
                        </p>
                        <p>
                            <i class="fa fa-mobile pr-10 fa-space fa-lg"></i>
                            Mobile : +91 95619 04295
                        </p>
                        <p>
                            <i class="fa fa-envelope pr-10 fa-space"></i>
                            Email : <a href="javascript:;">dhiraj.gulhane@gmail.com </a>
                        </p>
                    </address>
                </div>
            </div>
        </div>
    </footer>
</div>

<div class="small-footer text-center">
    <a href="https://www.facebook.com/Gravitycorp09/?ref=nf&hc_ref=ARTGTJUzpHy_WNkEe5yP7nVIXX8PWVppnMIjeJJAVWBlzdGVrkdA5kFDbScNLCx83BY" target="_blank"><i class="fa fa-facebook fa-lg icon-padding" aria-hidden="true"></i></a>
    <a href="https://www.youtube.com/channel/UCXAztXzLrwJs1_Gi9hDtQkA/playlists" target="_blank"><i class="fa fa-youtube-play fa-lg icon-padding" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-lg icon-padding" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin fa-lg icon-padding" aria-hidden="true"></i></a>
    <p class="copyright">© 2021 Copyright - Gravity</p>
</div>