<div class="cm-bottom">
    <div class="container gravity-padding">
        <h3>About Us</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="mv">
                <h4 class="mv-text">Our Mission</h4>
                <p>
                    To build an ideal institute that radiates Peace and harmony by imparting pure education to all
                    the strata of society. Only professionals can make you professional, Come to us learn to Earn.
                </p>
            </div>
            <div class="mv">
                <h4 class="mv-text">Our Vision</h4>
                <p>
                    To aid in the overall growth and character development of the students by focusing on
                    quality education that is pure and wholesome.
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="assets/images/about.jpg" width="100%" height="100%" alt="aboutus">
        </div>
    </div>
</div>