.container h3{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: unset;
}

.gravity-padding{
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .cm-bottom{
      margin-bottom: 5%;
      background-color: black;
  }

  .mv{
    border: 1px solid black;
    margin-bottom: 10%;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
    font-size: 20px;
  }

  .mv-text{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }