.container h3{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: unset;
}

.gravity-padding{
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .cm-bottom{
      margin-bottom: 5%;
      background-color: black;
  }

  .only-bottom{
    padding-bottom: 5%;
}

.video-bottom{
    padding-bottom: 3%;
}

.course-img{
    width: 40%;
}

.manual-test-img{
    width: 15%;;
}

.course-p{
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    margin-top: 2%;
}

.mar-top{
    margin-top: 5%;
}

.elearning{
    margin-bottom: 2%;
    color: black;
}

@media only screen and (max-width: 767px){
    .manual-test-img{
        width: 30%;;
    }

    .elearning{
        margin-bottom: 5%;
        color: black;
    }

    .video-bottom{
        padding-bottom: 5%;
    }
}