<div class="cm-bottom">
    <div class="container gravity-padding">
        <h3>Courses</h3>
    </div>
</div>
<div class="only-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 only-bottom">
                <img src="assets/images/java.png" class="rounded mx-auto d-block course-img" alt="java">
                <p class="course-p">Core Java</p>
                <div>
                    <a download="java.pdf" href="assets/data/java.pdf">
                        <i class="fa fa-download fa-lg d-flex justify-content-center" data-toggle="tooltip"
                            data-placement="bottom" title="Download Syllabus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 only-bottom">
                <img src="assets/images/selenium.png" class="rounded mx-auto d-block course-img" alt="java">
                <p class="course-p">Selenium</p>
                <div>
                    <a download="java.pdf" href="assets/data/java.pdf">
                        <i class="fa fa-download fa-lg d-flex justify-content-center" data-toggle="tooltip"
                            data-placement="bottom" title="Download Syllabus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 only-bottom">
                <img src="assets/images/python.jpg" class="rounded mx-auto d-block course-img" alt="java">
                <p class="course-p">Python</p>
                <div>
                    <a download="java.pdf" href="assets/data/java.pdf">
                        <i class="fa fa-download fa-lg d-flex justify-content-center" data-toggle="tooltip"
                            data-placement="bottom" title="Download Syllabus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mar-top">
                <img src="assets/images/ManualTesting.png" class="rounded mx-auto d-block manual-test-img" alt="java">
                <p class="course-p">Manual Testing</p>
                <div>
                    <a download="java.pdf" href="assets/data/java.pdf">
                        <i class="fa fa-download fa-lg d-flex justify-content-center" data-toggle="tooltip"
                            data-placement="bottom" title="Download Syllabus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin-bottom: 5%;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="assets/images/joinus.jpg" width="100%" height="90%" alt="joinus">
            </div>
            <div class="col-sm-6">
                <div>
                    <h4 class="text-center" style="color: black;">JOIN GRAVITY TODAY !</h4>
                </div>
                <div>
                    <app-register (successEvent)="getResponseMsg($event)" [formType]="formType"></app-register>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="elearning">
    <div class="container">
        <h4 class="text-center" class="elearning text-center">E-Learning : Software Testing</h4>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3 video-bottom">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9DlDcXNgolQ"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-3 video-bottom">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9DlDcXNgolQ"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-3 video-bottom">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kEex_5anNMs"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-3 video-bottom">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OSzgmBRmZyo"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="container text-center only-bottom">
    <a class="btn btn-dark btn-lg" href="https://www.youtube.com/channel/UCXAztXzLrwJs1_Gi9hDtQkA/playlists" 
    target="_blank" role="button">More Videos</a>
</div>

<!-- Response Modal -->
<div class="backdrop" [ngStyle]="{'display':model.display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':model.display}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thank You</h5>
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p class="success-m">{{model.message}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->