<div class="cm-bottom">
    <div class="container gravity-padding">
        <h3>Contact Us</h3>
    </div>
</div>
<div style="margin-bottom: 5%;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="assets/images/contact-us.jpg" width="100%" height="90%" alt="contact-us">
            </div>
            <div class="col-sm-6">
                <div>
                    <h4 class="text-center" style="color: black;">DROP US A LINE !</h4>
                </div>
                <div>
                    <app-register (successEvent)="getResponseMsg($event)" [formType]="formType"></app-register>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Response Modal -->
<div class="backdrop" [ngStyle]="{'display':model.display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':model.display}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thank You</h5>
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p class="success-m">{{model.message}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->