.dream-job{
    margin-top: 30%;
    margin-bottom: 30px;
    color: #000000;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.dj-h2{
  margin-left: 60px;
}

.man-with-comp-img{
  height: 500px;
  width: 100%;
}

.btn-txt{
    font-weight: 500;
}

.container h3{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 200px;
  }

  .container h4{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #000000;
  }

  .paragraph{
    text-align: center;
    font-size: large;
    line-height: 22px;
  }

  .batch{
    border: 1px solid blue;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 10px;
    max-width: 31.33%;
    margin-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
    font-size: 18px;
  }

  .nopadding {
    padding: 0 !important;
 }

 .up{
    height: 50px;
    background-color: #428bca;
    color: white;
    padding: 10px 0 10px 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
 }
 
 .div-margin{
     margin-top: 10%;
    margin-bottom: 10%;
 }

 .div-padding{
     padding-top: 5%;
     padding-bottom: 5%;
 }

 .record{
     padding-bottom: 2%;
     margin-left: 10%;
     margin-right: 10%;
     font-size: 20px;
 }

 .col-padding{
     padding-top: 10%;
     padding-bottom: 10%;
 }
 
 .gravity-padding{
    padding-top: 2%;
    padding-bottom: 2%;
 }

 .works{
     text-align: center;
 }

 .col-span{
    font-size: 20px;
    font-weight: 500;
 }

 .only-top{
     padding-top: 2%;
 }

 .only-bottom{
    padding-bottom: 2%;
}

 .wcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 55%;
  }

  .wcenter2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 50%;
  }

  .wrcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 20%;
  }
  

  .why-p{
    font-weight: 400;
    font-size: 20px;
  }

  .g-text{
    color: #000000 !important;
    font-size: 35px;
  }

  .faq-span{
    font-size: 30px;
    font-weight: 500;
  }

  .faqs{
    color: #15bcc4;
    font-weight: 700;
  }

  .icursor{
    cursor: pointer;
  }

  .show{
      display: block;
  }

  .hide{
      display: none;
  }

  .faq-mar{
    margin-bottom: 5%;
  }
 
  .img-mar{
      margin-left: 12%;
  }

  .mat-flex{
    flex-grow: 0 !important;
  }
  .mat-desc{
    font-size: 18px;
    font-weight: 500;
  }

  .mat-header{
      height: 50px;
  }

  .ans-p{
    font-size: 15px; 
    font-weight: 500;
    line-height: 1.5;
  }

  .success-m{
    font-size: 20px;
    font-weight: 500;
  }

  .backdrop{
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
  }

  .carousel-img{
    height: 350px;
  }
 

  @media only screen and (max-width: 767px){
    .dream-job{
      margin-top: 10%;
      margin-bottom: 30px;
      color: #000000;
      font-size: 35px;
      font-family: 'Lato', sans-serif;
      font-weight: 600;
  }

  .dj-h2{
    margin-left: 0px;
    text-align: center;
    font-size: 35px;
    color: #3289C7;
  }

  .man-with-comp-img{
    height: 350px;
    width: 100%;
  }
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 94%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
  }
  
    .batch{
      border: 1px solid blue;
      text-align: center;
      margin-top: 10%;
      border-radius: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-family: 'Lato', sans-serif;
      overflow: hidden;
      box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
      font-size: 18px;
      max-width: unset;
      margin-left: 3%;
  }

  .wcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
  
  }

  .wcenter2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
  
  }

  .mat-header{
    height: auto;
}

.carousel-img{
  height: 175px;
}
}

