<!-- <div style="background-color: black;">
    <div class="container gravity-padding">
        <h3>Welcome to Gravity</h3>
    </div>
</div> -->

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 carousel-img" src="assets/images/test.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 carousel-img" src="assets/images/test.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 carousel-img" src="assets/images/test.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="dj-h2">
                <p class="dream-job">The proven way towards your dream
                    <span style="color: blue;">Job</span>
                </p>
                <button type="button" class="btn btn-primary btn-primary btn-lg btn-txt" data-toggle="modal"
                    data-backdrop="static" data-keyboard="false" data-target="#enrollModal" (click)="enrollClick()">
                    Enroll Now
                </button>
                <!-- <div *ngIf="responseMsg !== ''">
                    {{responseMsg}}
                </div> -->
            </h2>
        </div>
        <div class="col-sm-6">
            <img src="assets/images/computer_with_icon.png" class="man-with-comp-img" alt="computer_with_icons">
        </div>
    </div>
</div>

<div style="background-color: rgb(246, 247, 251);">
    <div class="container div-padding">
        <div class="row">
            <div class="col-sm-4">
                <img src="assets/images/join.svg" alt="join-us" class="center">
                <h4>Join Us</h4>
                <p class="paragraph">Join us to the earliest either to our regular batch or weekend batch.</p>
            </div>
            <div class="col-sm-4">
                <img src="assets/images/work.svg" alt="join-us" class="center">
                <h4>Work Hard</h4>
                <p class="paragraph">Attend classes regularly and complete the assignments sincerely.</p>
            </div>
            <div class="col-sm-4">
                <img src="assets/images/success.svg" alt="join-us" class="center">
                <h4>Succeed</h4>
                <p class="paragraph">Get interview calls from your dream companies.</p>
            </div>
        </div>
    </div>
</div>

<div style="background-color: rgb(241, 241, 241);">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 batch">
                <h5>New Batch Starting at <span style="color: blue;">Chinchwad</span></h5>
                <p><b> Software Testing </b><br>
                    Online Batch (Google Meet) <br>
                    Start Date : 15th July 2021 <br>
                    TIme : 8 AM to 10 AM Daily</p>
                <button type="button" class="btn btn-primary btn-txt" data-toggle="modal" data-backdrop="static"
                    data-keyboard="false" data-target="#enrollModal" (click)="enrollClick()">
                    Enroll Now
                </button>
            </div>
            <div class="col-sm-4 batch">
                <h5>New Batch Starting at <span style="color: blue;">Wakad</span></h5>
                <p> <b> Core Java </b> <br>
                    Online Batch (Google Meet) <br>
                    Start Date : 15th July 2021 <br>
                    TIme : 8 AM to 10 AM Daily</p>
                <button type="button" class="btn btn-primary btn-txt" data-toggle="modal" data-backdrop="static"
                    data-keyboard="false" data-target="#enrollModal" (click)="enrollClick()">
                    Enroll Now
                </button>
            </div>
            <div class="col-sm-4 batch nopadding">
                <h5 class="up">Upcoming Batches</h5>
                <p><span>1st July 2021(Online Classes) : Java /Selenium 7:00 AM to 8:30 AM </span></p>
                <p><span>1st July 2021(Online Classes) : Automation Testing 7:00 AM to 8:30 AM </span></p>
            </div>
        </div>
    </div>
</div>
<div style="background-color: rgb(246, 247, 251);">
    <div class="container bck-image">
        <div class="row div-padding">
            <div class="col-sm-6">
                <div class="div-margin">
                    <div class="row record">
                        <div class="col-sm-1">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-11">
                            <b>50+ Students Placed in MNC's</b>
                        </div>
                    </div>
                    <div class="row record">
                        <div class="col-sm-1">
                            <i class="fa fa-male" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-11">
                            <b>IT Professional Trainers</b>
                        </div>
                    </div>
                    <div class="row record">
                        <div class="col-sm-1">
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-11">
                            <b>Seperate Study Room</b>
                        </div>
                    </div>
                    <div class="row record">
                        <div class="col-sm-1">
                            <i class="fa fa-book" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-11">
                            <b>Regular Mock & Resume Preparation</b>
                        </div>
                    </div>
                    <div class="row record">
                        <div class="col-sm-1">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-11">
                            <b>Motivating & Inspiring Staff</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="assets/images/people_in_group.jpg" height="100%" width="100%" alt="ppl_grp">
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <h3 class="only-top g-text">WHY GRAVITY ?</h3>
    </div>
    <div class="container">
        <div class="row div-padding">
            <div class="col-sm-3">
                <img src="assets/images/class.png" alt="live_class" class="wcenter">
                <div class="works">
                    <span class="col-span">Daily Live Classes</span>
                    <p class="why-p">Live classes from software developers from MNC's.
                        Additional assignments and quizes related to curriculum.
                    </p>
                </div>
            </div>
            <div class="col-sm-3">
                <img src="assets/images/project.png" alt="live_class" class="wcenter">
                <div class="works">
                    <span class="col-span">Live Projects</span>
                    <p class="why-p">Multiple Real World Live projects using industry demanded technologies.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <img src="assets/images/mentor.png" alt="live_class" class="wcenter">
                <div class="works">
                    <span class="col-span">Personal Mentor</span>
                    <p class="why-p">One to one mentor sessions alloted from the top companies
                        to guide you through the course.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <img src="assets/images/mock.png" alt="live_class" class="wcenter">
                <div class="works">
                    <span class="col-span">Mock Test</span>
                    <p class="why-p">Sharpen your development through practice contest held every weekend.</p>
                </div>
            </div>
        </div>
        <div class="row only-bottom">
            <div class="col-sm-3">
                <img src="assets/images/interview.png" alt="live_class" class="wcenter2">
                <div class="works">
                    <span class="col-span">Interview Preparation</span>
                    <p class="why-p">Mock interviews conducted by software professionals working in top companies
                        following industry interview format.
                    </p>
                </div>
            </div>
            <div class="col-sm-3">
                <img src="assets/images/resume.png" alt="live_class" class="wcenter2">
                <div class="works">
                    <span class="col-span">Resume Preparation & Uploading</span>
                    <p class="why-p">Guidence in writing Resume to suite it as per software industry standards.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <img src="assets/images/career.png" alt="live_class" class="wcenter2">
                <div class="works">
                    <span class="col-span">Career Guidance</span>
                    <p class="why-p">Uploading Resume to software companies job portal.
                        Also Sharing it with already working software professionals for referral.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <img src="assets/images/guidance.png" alt="live_class" class="wcenter2">
                <div class="works">
                    <span class="col-span">IT Professioanls Guidence</span>
                    <p class="why-p">Guidence provided by already working professional in top software companies
                        throughout course and beyond.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container div-margin">
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <span class="faq-span">Frequently Asked Questions</span>
                    <h2 class="faqs">FAQs</h2>
                    <hr>
                </div>
                <div>
                    <mat-accordion #accordion="matAccordion">
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                            *ngFor="let faq of faqs; let i = index" #mapanel="matExpansionPanel">
                            <mat-expansion-panel-header class="mat-header">
                                <mat-panel-title class="mat-flex">
                                    <b>{{i+1}}</b>
                                </mat-panel-title>
                                <mat-panel-description class="mat-desc">
                                    {{faq.question}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p class="ans-p">{{faq.answer}}</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="assets/images/questions.png" width="100%" height="100%" alt="questions" class="img-mar">
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="enrollModal" tabindex="-1" role="dialog" aria-labelledby="enrollModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="enrollModalLabel">{{ModalTitle}}</h5>
                <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-register (successEvent)="getResponseMsg($event)" [formType]="formType"></app-register>
            </div>
        </div>
    </div>
</div>

<!-- Response Modal -->
<div class="backdrop" [ngStyle]="{'display':model.display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':model.display}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thank You</h5>
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p class="success-m">{{model.message}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->